@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .mycontainer {
        @apply container mx-auto py-16 px-4 md:px-14 lg:px-24 xl:px-40; 
    }
}

@layer base {
    body {
        overflow-x: hidden;
        width: 100%;
    }
}